.git
.gitignore
.idea
*.md
!README.md
build-*
!build-windows.bat
!build-windows.ps1
dist
*.o
*.a
*.so
*.dylib
*.dll
*.exe
.DS_Store
.vscode
*.swp
*.swo
*~
.cache
compile_commands.json
*.log
CMakeCache.txt
CMakeFiles
_deps
Testing
